.container {
    display: flex;
    margin: auto;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    height: 800px;
    border: solid;
    border-width: 1px;
}

.row {
    display: flex;
    flex-grow: 1;
}

.pixel {
    display:flex;
    flex-grow: 1;
    border: solid;
    border-width: 1px;
}

.clearBtn {
    margin: 20px auto;
    display: flex;
    color: white;
    background-color: cornflowerblue;
    border-radius: 5px;
    border-color: #888;
    border-style: solid;
}

.gridSelector {
    margin: auto;
    display: flex;
    justify-content: center;
}